.customRow{
  padding-top: 20px;
}
.desDescription{
  font-size: 14px;
  color: #b2b1b1;
  padding-top: 5px;
  min-height: 120px;
}
.desHeadding{
  border-bottom: 1px solid #41a99c;
  padding-bottom: 5px;
}
.pager li strong{
  padding: 12px!important;
  border: 1px solid;
  color: #41a99c;
}
.hotel-headding{
  margin-bottom: 20px;
  border-bottom: 1px solid;
}
.hotelOver{
  background: rgba(214, 34, 5, 0.8)!important;
}
.hotelThumb .thumbnail:hover {
    border-bottom-color: #f93213!important;
}
.borderRight{
  border-right: 1px solid #41a99c;
  height: 365px;
}
.paddindOut{
  padding-right: 34px;
}
.starNote{
  font-size: 25px;
  font-weight: bold;
  color:#f30d02;
}
.footerNav li {
  padding: 5px 0px;
}
.footerNav li a{
  text-decoration: none;
}
.hotelTittle{
  padding-bottom: 5px!important;
  border-bottom: 1px solid;
}
.dateClass{
  width: 220px;
  border: none;
}
.disableInput{
  display:none!important;
}
.short-description{
  min-height: 145px;
}
.contactSocial{
  margin-top: 15px;
}
